<!-- header start -->
<div class="container page-header">
  <div class="row">
    <div class="col-sm-4"><p><span class="donovan-font">CONCEPT</span><span class="box">BOX</span></p></div>
    <div class="col-sm-8 "><p class="text-secondary lead"> Do you have your own ideas, but no money?.. or maybe You have a lot of money but there is no possibility for creating your own ideas? Open and find what will bring you success, luck, inspiration! </p></div>
    <div class="row pb-5">
      <div class="col-sm-12"><img src="../assets/img/long-logo.png" alt="" class="img-thumbnail"/></div>
    </div>
  </div>
</div>
<!-- header end -->

<div class="container">
  <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
    <div class="form-group row justify-content-center" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <label for="email" class="col-sm-1 col-form-label ">Email</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="email" placeholder="Enter your email" [(ngModel)]="model.email" #email="ngModel" required />
        <div *ngIf="f.submitted && !email.valid" class="help-block text-danger">Email is required</div>
      </div>
    </div>
    <div class="form-group row justify-content-center" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="password" class="col-sm-1  col-form-label">Password</label>
      <div class="col-sm-5">
        <input type="password" class="form-control" name="password" placeholder="Enter your Password" [(ngModel)]="model.password" #password="ngModel" required />
        <div *ngIf="f.submitted && !password.valid" class="help-block text-danger">Password is required</div>
      </div>

    </div>
    <div class="form-group row justify-content-center">
      <div class="col-sm-1">
        <button type="submit" class="btn btn-primary" [disabled]="loading">Login</button>
        <img *ngIf="loading" class="img-thumbnail" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      </div>
      <div class="col-sm-2"><a href="#" class="btn-link">(Forgot password?)</a></div>
      <div class=" col-sm-2">
        <h5 class="text-left">No account? <a  [routerLink]="['/register']" class="btn-link"> Create one!</a></h5>

      </div>


    </div>
  </form>
</div>

