<!-- header start -->
<div class="container page-header pb-5" id="profile-header">
  <div class="row justify-content-between">
    <div class="col-sm-9">
      <a [routerLink]="['/main-page']" class="logo">
        <div class="col-sm-9"><p><span class="donovan-font">CONCEPT</span><span class="box">BOX</span></p></div>
      </a>
    </div>
    <div class="col-sm-2">
      <div class="avatar"></div>
    </div>
    <div class="col-sm-1">
      <a [routerLink]="['/user-profile']" id="userName">{{email}}</a>
      <div class="dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownLogo" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false"></a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a [routerLink]="['/user-profile']">Profile</a>
          <br/>
          <a [routerLink]="['/idea'] ">New Idea</a>
          <a href="">
            <hr/>
          </a>
          <a [routerLink]="['/login']">Logout</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- header end -->

<!-- body start -->
<!-- As a link -->
<div class="container">
  <div class="row">
    <div class="col-sm-12 mb-4">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">

        <div class="collapse navbar-collapse conteiner" id="navbarSupportedContent">
          <form class="form-inline my-2 my-lg-0 ">
            <input class=" mr-sm-2" placeholder="Search" #searchText name="searchText">
          </form>
          <ul class="navbar-nav mr-auto" *ngFor="let tag of tags ">
            <li class="nav-item" (click)="loadIdeasByTag(tag.name)">
              <small>{{tag.name.toUpperCase()}}</small>
            </li>
            <!--
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                SORT BY
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Best matches</a>
                <a class="dropdown-item" href="#">Newest</a>
                <a class="dropdown-item" href="#">Rating</a>

              </div>
            </li>
            -->
          </ul>

        </div>
      </nav>
    </div>
    <div class="col-lg-4 col-md-6 mb-4">
      <div class="container">
        <!-- gallery -->
        <div class="row">
          <div class="col-lg-12 col-md-12 mb-4" *ngFor="let popularIdea of ideas | filter: 'header' : searchText.value">
            <div class="card h-100">
              <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
              <div class="card-body">
                <h4 class="card-title">
                  <a [routerLink]="['/idea-detail/'+popularIdea.id]">{{popularIdea.header}}</a>
                </h4>
                <h5>${{popularIdea.price}}</h5>
                <p class="card-text">{{popularIdea.shortDescription}}</p>
              </div>
              <div class="card-footer">
                <p><span class="like">&#9829;&#160;</span><span class='like' style="color : #5a6268; display: none;">&#9825;</span>{{popularIdea.rate}}
                </p>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->

      </div>
    </div>
    <div class="col-lg-8 col-md-6 mb-4">
      <div class="container">
        <!-- Idea list -->

        <div *ngFor="let idea of pagedItems ">
          <div class="row">
            <div class="col-md-7">
              <a href="#">
                <img class="img-fluid rounded mb-3 mb-md-0" src="http://placehold.it/700x300" alt="">
              </a>
            </div>
            <div class="col-md-5">
              <h4 class="card-title">
                <a [routerLink]="['/idea-detail/'+idea.id]">{{idea.header}}</a>
              </h4>
              <h5>${{idea.price}}</h5>
              <p class="card-text">{{idea.shortDescription}}</p>
              <p><span class='like' style="color : #5a6268;">&#9825;</span>{{idea.rate}}</p>
            </div>

          </div>
          <!-- /.row -->

          <hr>
        </div>

        <!-- pager -->
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination justify-content-center">
          <li [ngClass]="{disabled:pager.currentPage === 1}"  class="page-item">
            <a class="page-link" (click)="setPage(1)">First</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item">
            <a class="page-link" (click)="setPage(pager.currentPage - 1)">&laquo;</a>
          </li>
          <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item">
            <a class="page-link" (click)="setPage(page)">{{page}}</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
            <a class="page-link" (click)="setPage(pager.currentPage + 1)">&raquo;</a>
          </li>
          <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item">
            <a class="page-link" (click)="setPage(pager.totalPages)">Last</a>
          </li>
        </ul>

      </div>
      <!-- /.container -->
    </div>
  </div>
</div>
<!-- body end -->
