<!-- header start -->
<div class="container page-header pb-5" id="profile-header">

  <div class="row justify-content-between" >
    <div class="col-sm-9"><p><span class="donovan-font">CONCEPT</span><span class="box">BOX</span></p></div>
    <div class="col-sm-2">
      <div class=" avatar"></div>
    </div>

    <div class="col-sm-1">
      <h5><a [routerLink]="['/user-profile']" class="">{{currentUser.first_name}}</a></h5>
      <p><a [routerLink]="['/login']">Logout</a></p>
    </div>
  </div>

</div>
<!-- header end -->

<!-- body start -->
<div class="container">
  <form>
    <div class="form-group row justify-content-center">
      <div class="col-sm-4 "><h3 class="display-4">Personal Data</h3></div>
    </div>


    <div class="form-group row justify-content-center">
      <span  class="col-sm-2  gray-text text-right">First Name</span>
      <span  class="col-sm-2 text-info" id="user-first-name">Vasja</span>
    </div>
    <div class="form-group row justify-content-center">
      <span  class="col-sm-2  gray-text text-right">Last Name</span>
      <span  class="col-sm-2 text-info">Pupkin</span>
    </div>
    <div class="form-group row justify-content-center">
      <span  class="col-sm-2  gray-text text-right">Email</span>
      <span  class="col-sm-2 text-info">Vasja@gmail.com</span>
    </div>
    <div class="form-group row justify-content-center">
      <span  class="col-sm-2  gray-text text-right">Additionally</span>
      <span  class="col-sm-2 text-info">Vasya is Vasya!</span>
    </div>
    <div class="form-group row justify-content-center">
      <span  class="col-sm-2  gray-text text-right">Company</span>
      <span  class="col-sm-2 text-info">DataArt!</span>
    </div>
    <div class="form-group row justify-content-center">
      <span  class="col-sm-2  gray-text text-right">City</span>
      <span  class="col-sm-2 text-info">Odessa</span>
    </div>
    <div class="form-group row justify-content-center">
      <span  class="col-sm-2  gray-text text-right">Country</span>
      <span  class="col-sm-2 text-info">Ukraine</span>
    </div>
    <div class="container">
      <!-- gallery -->
      <div class="row">
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Idea One</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
            </div>
            <div class="card-footer">
              <p>&#9829;&#160;9633</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Idea Two</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur! Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="card-footer">
              <p class="text-muted">&#9829;&#160;0</p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card h-100">
            <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">Idea Three</a>
              </h4>
              <h5>$24.99</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>
            </div>
            <div class="card-footer">
              <p class="text-muted">&#9829;&#160;0</p>
            </div>
          </div>
        </div>
        <div class="ides-gallery col-sm-offset-1 col-sm-2">

          <button type="button" class="btn btn-light">+</button>

        </div>
      </div>
      <!-- /.row -->

      <hr>

    </div>
    <div class="form-group row justify-content-center">
      <div class="col-sm-offset-4 col-sm-2">
        <a  [routerLink]="['/register']" class="btn-link"> Update profile!</a>
      </div>
    </div>

  </form>
</div>
