<!-- header start -->
<div class="container page-header">
  <div class="row  pb-5">
    <div class="col-lg-5">
      <a [routerLink]="['/main-page']" class="logo"><div class="col-sm-9  "><p><span class="donovan-font" >CONCEPT</span><span class="box">BOX</span></p></div></a>
    </div>
    <div class="col-lg-7">
      <img src="../assets/img/line.png" alt="" class="img-thumbnail "/>
    </div>
  </div>
</div>
<!-- header end -->

<!-- body start -->

<div class="container">
  <form (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
    <div class="row justify-content-center">
      <div class="col-sm-6 "><h3 class="display-4">Registration Form</h3></div>
    </div>

    <div class="form-group row justify-content-center" >
      <div class="col-sm-2">
        <div class=" avatar" ></div>
        <!--<div class=" col-sm-1">
            <h4><input type="file" class="input-file"></h4>
        </div>-->
      </div>
    </div>
    <div class="form-group  row justify-content-center" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
      <label for="inputFirstName" class="col-sm-2 control-label">First Name<span style="color: red">*</span></label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="inputFirstName" placeholder="Enter your first name" [(ngModel)]="model.firstName" #firstName="ngModel" required />
        <div *ngIf="f.submitted && !firstName.valid" class="help-block text-danger">First Name is required</div>
      </div>
    </div>
    <div class="form-group row justify-content-center" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
      <label for="inputLastName" class="col-sm-2 control-label">Last Name<span style="color: red">*</span></label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="inputLastName" placeholder="Enter your last name" [(ngModel)]="model.lastName" #lastName="ngModel" required />
        <div *ngIf="f.submitted && !lastName.valid" class="help-block text-danger">Last Name is required</div>
      </div>
    </div>
    <div class="form-group row justify-content-center" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
      <label for="inputEmail" class="col-sm-2 control-label">Email<span style="color: red">*</span></label>
      <div class="col-sm-5">
        <input type="email" class="form-control" name="inputEmail" placeholder="Enter your email" [(ngModel)]="model.email" #email="ngModel" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$" />
        <div *ngIf="f.submitted && !email.valid" class="help-block text-danger">Email is required and format should be <i>john@doe.com</i></div>
      </div>
    </div>
    <div class="form-group row justify-content-center" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
      <label for="inputPassword" class="col-sm-2 control-label">Password<span style="color: red">*</span></label>
      <div class="col-sm-5">
        <input type="password" class="form-control" name="inputPassword" placeholder="Enter your Password" [(ngModel)]="model.password" #password="ngModel" required validateEqual="confirmPassword" reverse="true"/>
        <div *ngIf="f.submitted && !password.valid" class="help-block text-danger">Password is required</div>
      </div>
    </div>
    <div class="form-group row justify-content-center" [ngClass]="{ 'has-error': f.submitted &&  !confirmPassword.valid }">
      <label for="inputPasswordConfirm" class="col-sm-2 control-label">Confirm Password<span style="color: red">*</span></label>
      <div class="col-sm-5">
        <input type="password" class="form-control" name="inputPasswordConfirm" placeholder="Confirm your Password" [(ngModel)]="model.confirmPassword" validateEqual="password" #confirmPassword="ngModel" required />
        <div *ngIf="f.submitted && !confirmPassword.valid" class="help-block text-danger">Password mismatch</div>
      </div>
    </div>
    <div class="form-group row justify-content-center" [ngClass]="{ 'has-error': f.submitted && !aboutUser.valid }">
      <label for="describeUser" class="col-sm-2 control-label">Describe Yourself</label>
      <div class="col-sm-5">
        <textarea class="form-control" rows="3" name="describeUser" placeholder="Describe Yourself" [(ngModel)]="model.aboutUser" #aboutUser="ngModel" ></textarea>
      </div>
    </div>
    <div class="form-group row justify-content-center" [ngClass]="{ 'has-error': f.submitted && !aboutCompany.valid }">
      <label for="inputCompany" class="col-sm-2 control-label">Your Company</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="inputCompany" placeholder="Enter your Company"  [(ngModel)]="model.aboutCompany" #aboutCompany="ngModel">
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <label for="inputCity" class="col-sm-2 control-label">Your City</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="inputCity" placeholder="Enter your City"  [(ngModel)]="model.city">
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <label for="inputCountry" class="col-sm-2 control-label">Your Country</label>
      <div class="col-sm-5">
        <input type="text" class="form-control" name="inputCountry" placeholder="Enter your Country"  [(ngModel)]="model.country" >
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <label for="ChooseTags" class="col-sm-2 control-label">Choose intresting tags</label>
      <div class="col-sm-5">
        <select multiple class="form-control" name="ChooseTags"  [(ngModel)]="model.tags">
          <option>TECHNOLOGY</option>
          <option>DESIGN</option>
          <option>PC</option>
          <option>MEDIA</option>
        </select>
      </div>
    </div>
    <div class="form-group row justify-content-center">
      <div class="col-sm-2">
        <button type="submit" class="btn btn-secondary" [disabled]="loading">Registration</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" class="img-thumbnail"/>
      </div>
      <div class=" col-sm-2">
        <h5><a [routerLink]="['/login']" class="btn-link">Cancel</a></h5>
      </div>

    </div>

  </form>
</div>


<!--<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" name="first_name" [(ngModel)]="model.first_name" #firstName="ngModel" required />
            <div *ngIf="f.submitted && !first_name.valid" class="help-block">First Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" name="last_name" [(ngModel)]="model.last_name" #lastName="ngModel" required />
            <div *ngIf="f.submitted && !last_name.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #username="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">Register</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
-->
